.profile__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 336px;
}

@media screen and (max-width: 750px) {
    .profile__info {
        justify-content: center;
        width: 282px;
        margin-bottom: 36px;
    }
}