.header {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 750px) {
    .header {
        margin-bottom: 42px;
    }
}